@import "common";

.ufwp-settings {

    h4 {
        margin-bottom: 0;
    }

    .ufwp-settings-table {
        margin-bottom: 10px;

        thead {

            th {
                border-bottom: 2px solid #eee;
            }
        }

        th,
        td {
            padding: 10px;
        }
    }

    .ufwp-settings-table--slim {

        thead {

            th {
                width: auto;
                min-width: 125px;
            }
        }
    }

    .ufwp-settings-req {
        color: red;
        font-weight: bold;
    }

    .ufwp-settings-star {
        color: gold;
    }

    .ufwp-settings-button {
        display: inline-block;
        padding: 10px 20px;

        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
        background-color: @color-primary;
        border-radius: 3px;
        color: #fff;
        font-size: 14px;
        font-weight: 700;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        transition: all .5s @animation-ease;

        &:visited {
            color: #fff;
        }

        &:hover,
        &:focus,
        &:active {
            background-color: #fff;
            color: @color-primary;
            text-decoration: none;
        }
    }

    .ufwp-settings-button--block {
        display: block;
    }
}