.ufwp-settings h4 {
  margin-bottom: 0;
}
.ufwp-settings .ufwp-settings-table {
  margin-bottom: 10px;
}
.ufwp-settings .ufwp-settings-table thead th {
  border-bottom: 2px solid #eee;
}
.ufwp-settings .ufwp-settings-table th,
.ufwp-settings .ufwp-settings-table td {
  padding: 10px;
}
.ufwp-settings .ufwp-settings-table--slim thead th {
  width: auto;
  min-width: 125px;
}
.ufwp-settings .ufwp-settings-req {
  color: red;
  font-weight: bold;
}
.ufwp-settings .ufwp-settings-star {
  color: gold;
}
.ufwp-settings .ufwp-settings-button {
  display: inline-block;
  padding: 10px 20px;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  background-color: #17AA1C;
  border-radius: 3px;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.ufwp-settings .ufwp-settings-button:visited {
  color: #fff;
}
.ufwp-settings .ufwp-settings-button:hover,
.ufwp-settings .ufwp-settings-button:focus,
.ufwp-settings .ufwp-settings-button:active {
  background-color: #fff;
  color: #17AA1C;
  text-decoration: none;
}
.ufwp-settings .ufwp-settings-button--block {
  display: block;
}
