@import "../../shared/common";
@import (reference) "../elements/badges";

@template-grid-gap: 2%; // The final gap between 2 items with be this value *2
@template-grid-col-deduct: (@template-grid-gap * 2); // We have to multiple it with 2, because the gap will be on the left and right of an item

//== Grid
.ufwp-grid {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    margin: 0 -@template-grid-gap;
}

.ufwp-grid__item {
    width: 100%;
    margin: 0 @template-grid-gap;

    // Handling equal heights of items.
    @media (min-width: (@breakpoint-mobile + 1px)) {
        display: flex;

        > * {
            max-width: 100%;
        }
    }
}

@media (min-width: (@breakpoint-mobile + 1px)) {
    .ufwp-grid--col-2 {

        .ufwp-grid__item {
            width: ((100% / 2) - @template-grid-col-deduct);
        }
    }

    .ufwp-grid--col-3 {

        .ufwp-grid__item {
            width: ((100% / 3) - @template-grid-col-deduct);
        }
    }

    .ufwp-grid--col-4 {

        .ufwp-grid__item {
            width: ((100% / 4) - @template-grid-col-deduct);
        }
    }

    .ufwp-grid--col-5 {

        .ufwp-grid__item {
            width: ((100% / 5) - @template-grid-col-deduct);
        }
    }

    .ufwp-grid--col-6 {

        .ufwp-grid__item {
            width: ((100% / 6) - @template-grid-col-deduct);
        }
    }
}

@media (min-width: (@breakpoint-mobile + 1px)) and (max-width: @breakpoint-default) {
    .ufwp-grid--col-3,
    .ufwp-grid--col-4,
    .ufwp-grid--col-5,
    .ufwp-grid--col-6 {

        .ufwp-grid__item {
            width: ((100% / 2) - @template-grid-col-deduct);
        }
    }
}

@media (min-width: (@breakpoint-default + 1px)) and (max-width: @breakpoint-tablet) {
    .ufwp-grid--col-3,
    .ufwp-grid--col-4,
    .ufwp-grid--col-5,
    .ufwp-grid--col-6 {

        .ufwp-grid__item {
            width: ((100% / 3) - @template-grid-col-deduct);
        }
    }
}

// Grid: Styles
.ufwp-grid {

    .ufwp-course {
        position: relative;
        padding-bottom:  @spacing;
    }

    .ufwp-course__badge {
        position: absolute;
        top: @spacing * 2;
        left: 0;
        z-index: 6;
    }

    .ufwp-course__badge + .ufwp-course__badge {
        margin-top: @badge-height * 1.5;
    }

    .ufwp-course__content {

        .ufwp-course__footer {
            margin-top: 15px;
            display: flex;
            justify-content: flex-start;
            align-items: flex-end;
            flex-wrap: wrap;

            .ufwp-course__price {
                display: inline-block;
                margin: 0 auto 3px 0;

                &--list {
                    align-self: center;
                    margin-right: @spacing;
                }

                &:after {
                        content: none;
                }
            }

            .ufwp-course__rating {
                display: inline-block;
                margin-left: 0;
            }
        }
    }

    .ufwp-course--sale {
        .ufwp-course__price {
            margin-left: 0;
        }
    }
}