@import "../../common";
@import "../../../../node_modules/gee.less/gee";
@import "../../../../node_modules/dotsunited-equal-height-blocks/lib/mixins";
@import (reference) "../elements/badges";

//== Grid
.ufwp-grid {
    .gee-grid(@gutter);

    @media (min-width: (@breakpoint-mobile + 1px)) {
        .dotsunited-equal-height-blocks-container();
    }
}

.ufwp-grid__item {
    .gee-unit(12, 12, @gutter);

    @media (min-width: (@breakpoint-mobile + 1px)) {
        .dotsunited-equal-height-blocks-item-wrapper();
    }
}

@media (min-width: (@breakpoint-mobile + 1px)) {
    .ufwp-grid--col-2 {

        .ufwp-grid__item {
            .gee-unit-width(6, 12, @gutter);
        }
    }

    .ufwp-grid--col-3 {

        .ufwp-grid__item {
            .gee-unit-width(4, 12, @gutter);
        }
    }

    .ufwp-grid--col-4 {

        .ufwp-grid__item {
            .gee-unit-width(3, 12, @gutter);
        }
    }

    .ufwp-grid--col-5 {

        .ufwp-grid__item {
            .gee-unit-width(12/5, 12, @gutter);
        }
    }

    .ufwp-grid--col-6 {

        .ufwp-grid__item {
            .gee-unit-width(2, 12, @gutter);
        }
    }
}

@media (min-width: (@breakpoint-mobile + 1px)) and (max-width: @breakpoint-default) {
    .ufwp-grid--col-3,
    .ufwp-grid--col-4,
    .ufwp-grid--col-5,
    .ufwp-grid--col-6 {

        .ufwp-grid__item {
            .gee-unit-width(6, 12, @gutter);
        }
    }
}

@media (min-width: (@breakpoint-default + 1px)) and (max-width: @breakpoint-tablet) {
    .ufwp-grid--col-3,
    .ufwp-grid--col-4,
    .ufwp-grid--col-5,
    .ufwp-grid--col-6 {

        .ufwp-grid__item {
            .gee-unit-width(4, 12, @gutter);
        }
    }
}

// Grid: Styles
.ufwp-grid {

    .ufwp-course {
        position: relative;
        padding-bottom:  @spacing;
    }

    .ufwp-course__badge {
        position: absolute;
        top: @spacing * 2;
        left: 0;
        z-index: 6;
    }

    .ufwp-course__badge + .ufwp-course__badge {
        margin-top: @badge-height * 1.5;
    }

    .ufwp-course__content {

        .ufwp-course__footer {
            margin-top: 15px;
            display: flex;
            justify-content: flex-start;
            align-items: flex-end;
            flex-wrap: wrap;

            .ufwp-course__price {
                display: inline-block;
                margin: 0 auto 3px 0;

                &--list {
                    align-self: center;
                    margin-right: @spacing;
                }

                &:after {
                        content: none;
                }
            }

            .ufwp-course__rating {
                display: inline-block;
                margin-left: 0;
            }
        }
    }

    .ufwp-course--sale {
        .ufwp-course__price {
            margin-left: 0;
        }
    }
}